/* HEADER TOP AREA */
.rts-ht__bg {
    background: var(--color-primary);
    backdrop-filter: blur(50px);
  }
  .rts-header {
    background: var(--color-white);
  }
  
  /* Top wrapper */
  .rts-ht__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    color: var(--body-bg);
    font-size: 14px;
    font-family: var(--font-secondary);
    line-height: 1;
  }
  @media (max-width: 768px) {
    .rts-ht__wrapper {
      justify-content: center;
    }
  }
  
  /* Email section */
  .rts-ht__email img {
    margin-right: 5px;
  }
  @media (max-width: 991px) {
    .rts-ht__email {
      display: none;
    }
  }
  .rts-ht__email a:hover {
    color: var(--body-bg);
  }
  
  /* Promo section */
  @media (max-width: 768px) {
    .rts-ht__promo {
      display: none;
    }
  }
  .rts-ht__promo p {
    margin-bottom: 0;
  }
  .rts-ht__promo p strong {
    color: var(--color-secondary);
    background: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    line-height: 1;
  }
  
  /* Links */
  .rts-ht__links {
    display: flex;
    gap: 40px;
  }
  @media (max-width: 991px) {
    .rts-ht__links {
      gap: 20px;
    }
  }
  .rts-ht__links a:hover {
    color: var(--body-bg);
  }
  .rts-ht__links img {
    margin-right: 5px;
  }
  
  /* HEADER MENU AREA */
  .rts-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease;
  }
  .rts-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 991px) {
    .rts-header__wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .rts-header__logo .site-logo .logo-white {
    display: block;
  }
  .rts-header__logo .site-logo .logo-dark {
    display: none;
  }
  
  /* Menu */
  .rts-header__menu ul {
    padding: 0;
    margin: 0;
  }
  .rts-header__menu ul li {
    display: inline-block;
    position: relative;
  }
  .rts-header__menu ul li:not(:last-child) {
    margin-right: 50px;
  }
  @media (max-width: 1366px) {
    .rts-header__menu ul li:not(:last-child) {
      margin-right: 35px;
    }
  }
  .rts-header__menu ul li a {
    font-size: 16px;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
  }
  @media (max-width: 1200px) {
    .rts-header__menu ul li a {
      font-size: 14px;
    }
  }
  
  /* Right Side */
  .rts-header__right {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  @media (max-width: 991px) {
    .rts-header__right {
      gap: 20px;
    }
  }
  .rts-header__right .login__btn {
    border: 1px solid var(--color-secondary);
    padding: 8px 38px;
    color: var(--color-secondary);
    transition: var(--transition);
    border-radius: 4px;
    font-weight: 500;
  }
  @media (max-width: 576px) {
    .rts-header__right .login__btn {
      padding: 10px 30px;
    }
  }
  @media (max-width: 450px) {
    .rts-header__right .login__btn {
      display: none;
    }
  }
  .rts-header__right .login__btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
  }
  
  /* Dropdown Menu */
  .rts-header__right .rts-dropdown-menu {
    padding: 0;
    margin: 0;
  }
  @media (max-width: 768px) {
    .rts-header__right .rts-dropdown-menu {
      display: none;
    }
  }
  .rts-dropdown-menu .has-child-menu {
    list-style: none;
    margin: 0;
    position: relative;
  }
  .rts-dropdown-menu .has-child-menu:hover a {
    z-index: 1;
  }
  .rts-dropdown-menu .has-child-menu:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .rts-dropdown-menu .has-child-menu a {
    color: var(--color-secondary);
    font-size: 14px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 5px;
  }
  .rts-dropdown-menu .has-child-menu a img {
    width: 20px;
  }
  .rts-dropdown-menu .has-child-menu .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: var(--color-white);
    transform: translateY(15px);
    border-radius: 4px;
    transition: all 0.4s;
    box-shadow: 0px 7px 18px #1810100d;
    display: flex;
    flex-direction: column;
    min-width: 170px;
    padding: 12px 0;
    z-index: 10;
  }
  .rts-dropdown-menu .has-child-menu .sub-menu li {
    list-style: none;
    width: 100%;
  }
  .rts-dropdown-menu .has-child-menu .sub-menu li:hover a {
    background: #fff5ef;
    color: var(--color-primary);
  }
  .rts-dropdown-menu .has-child-menu .sub-menu li a {
    color: #1f1f25;
    font-size: 14px;
    padding: 4px 12px;
    margin: 2px 10px;
    transition: all 0.3s;
    border-radius: 4px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .rts-dropdown-menu.switcher-currency .has-child-menu .sub-menu {
    min-width: 100px;
  }
  
  /* Mobile Menu Button */
  .rts-header__right .mobile__active {
    height: 50px;
    width: 50px;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    color: var(--color-secondary);
    display: none;
  }
  @media (max-width: 991px) {
    .rts-header__right .mobile__active {
      display: block;
    }
  }
  @media (max-width: 991px) {
    .rts-header__menu {
      display: none;
    }
  }
  
  /* Sticky Header */
  .rts-header.header-sticky {
    position: fixed;
    animation: stickyanimations 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: padding 1s;
    box-shadow: var(--box-shadow);
    background: var(--color-white);
  }
  .rts-header.header-sticky .rts-ht {
    display: none;
  }
  .rts-header.header-sticky .rts-header__logo .logo-white {
    display: none;
  }
  .rts-header.header-sticky .rts-header__logo .logo-dark {
    display: block;
  }
  .rts-header.header-sticky .login__btn {
    border: 1px solid var(--btc);
    color: var(--btc);
  }
  .rts-header.header-sticky .login__btn:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }
  .rts-header.header-sticky .mobile__active {
    color: var(--btc);
    border: 1px solid var(--btc);
  }
  
  /* Header with Background */
  .rts-header.header__with__bg {
    position: relative;
  }
  .rts-header.header__with__bg.header-sticky .rts-menu {
    background: transparent;
  }
  .rts-header.header__with__bg .rts-ht__bg {
    background: #0066ff;
  }
  .rts-header.header__with__bg .rts-menu {
    background: #033aa7;
  }
  